In [2]:
import pandas as pd
import sqlite3
import os
os.getcwd()

'C:\\Users\\makim\\LAESLData'

In [3]:
df1 = pd.read_csv("LAESLData.csv")
df1.head(20)

# create the sqlite DB
db = sqlite3.connect("LAESLData.db")

# convert the pandas dataframe to a sqlite table
df1.to_sql("LAESL", db, if_exists="replace")

# view dataframe
# df1
query = ''' 
SELECT * 
FROM LAESL'''
pd.read_sql_query(query,db)

C:\Users\makim\Anaconda3\lib\site-packages\pandas\core\generic.py:2712: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

,index,Unnamed: 0,InitialOfName,Country,Language,Gender,BirthYear,HighSchool_Diploma,US_HighSchool_Diploma/GED,Interested_in_GED
0,0,1,A.A,Egypt,Arabic,F,1986,Yes,No,Yes
1,1,2,R.A,Egypt,Arabic,F,1982,Yes,No,Yes
2,2,3,K.A,Egypt,Arabic,M,1987,Yes,No,Yes
3,3,4,H.A,Morroco,Arabic,M,1983,Yes,No,No
4,4,5,A.A,Iraq,Arabic,F,1980,No,No,Yes
...,...,...,...,...,...,...,...,...,...,...
170,170,174,S.Y,Koirea,Korean,F,1982,Yes,No,No
171,171,175,A.Y,Japan,Japanese,M,1984,Yes,No,No
172,172,176,Z.Y,Algeria,Arabic,F,1987,Yes,No,No
173,173,177,Z.Z,China,Chinese,F,1987,Yes,No,No
174,174,178,K.Z,Mexico,Spanish,F,1987,Yes,No,Yes